.heading {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 20px;
  text-decoration: underline;
}

.bussiness {
  display: flex;
  align-items: center;
  justify-content: center;
}
